body,
td {
  color: rgb(75, 75, 75);
}
h1 {
  display: inline;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}
h2 {
  display: inline;
  font-family: "Raleway", sans-serif;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
li {
  margin-left: 0;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
th {
  font-weight: 200;
  color: #000;
}
.main-container {
  max-width: 600px;
  margin: 50px auto 10px auto;
}
.container {
  background: rgba(252, 228, 73, 0.07);
  padding: 30px 30px;
  border-radius: 10px;
  border: 1px solid rgb(75, 75, 75, 0.1);
}
.source-link {
  font-size: 14px;
}
.search-box {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.current-place {
  margin: 30px 20px;
  text-align: left;
}
.current-place img {
  height: 64px;
  width: 64px;
  vertical-align: top;
  margin-right: 5px;
  margin-top: 5px;
}

.current-temp {
  display: inline;
  font-size: 64px;
  line-height: 1em;
}

.small-grey {
  font-size: 14px;
}
.units {
  vertical-align: top;
}
.units a {
  cursor: default;
}
.active {
  color: rgb(75, 75, 75);
  cursor: default;
}
.active:hover {
  color: rgb(75, 75, 75);
  text-decoration: none;
}
#forecast {
  background-color: white;
  padding: 5px 0px;
  border-radius: 10px;
  border: 1px solid rgb(75, 75, 75, 0.1);
  text-align: center;
}
.forecast-day {
  font-size: 16px;
}
.forecast-temps {
  font-size: 13px;
}
.forecast-temp-min {
  opacity: 0.5;
}
